@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


:root {
  --primary: #2666CF;
  --font-dark: white;
  --font-light: black;
  --light-backGround: white;
  --dark-backGround: #2C3333;

}

body {
  font-family: 'Oxygen', sans-serif;

}

.dark {
  background-color: var(--dark-backGround);
  color: var(--font-dark);
}

.light {
  background-color: var(--light-backGround);
  color: var(--font-light);

}

/* Navbar */
.navbar {

  height: 50px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-dark);
}

.sourceCard {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sourceCard:hover {
  background-color: var(--primary);
  color: var(--font-dark);
  cursor: pointer;
}


/* ======= scroll bar css ======= */

/* width */
.light ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.light ::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 2px;
  border-radius: 5px;
  margin-bottom: 2px;
}

/* Handle */
.light ::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}



/* width */
.dark ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.dark ::-webkit-scrollbar-track {
  background: #395B64;
  margin-top: 2px;
  border-radius: 5px;
  margin-bottom: 2px;
}

/* Handle */
.dark ::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

.news {
  height: 95%;
  width: 95%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}



/* ============== Media queries for responsiveness ==============  */

@media only screen and (min-width: 850px) {

  .largeScreenContainer {
    display: flex;
  }

  .smallScreenContainer {
    display: none;
  }

  .sourceDrawerButton {
    display: none;
  }

}

@media only screen and (max-width: 850px) {
  .largeScreenContainer {
    display: none;
  }
}