@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


:root {
  --primary: #2666CF;
  --font-dark: white;
  --font-light: black;
  --light-backGround: white;
  --dark-backGround: #2C3333;

}

body {
  font-family: 'Oxygen', sans-serif;

}

.dark {
  background-color: var(--dark-backGround);
  color: var(--font-dark);
}

.light {
  background-color: var(--light-backGround);
  color: var(--font-light);

}

/* Navbar */
.navbar {

  height: 50px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-dark);
}

.sourceCard {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sourceCard:hover {
  background-color: var(--primary);
  color: var(--font-dark);
}